<html>
    <head>
        <title>Main page</title>
    </head>
    <body>
        <ul>
            <% manufacturers.forEach((manufacturer) => { %>
                <li>
                    <%= manufacturer.manufacturer %>
                    <a href="cars/view/<%= manufacturer.id %>">view</a>
                    <a href="/delete/<%= manufacturer.id %>">delete</a>
                </li>
            <% }) %>
        </ul>
        <a href="/cars/add-car">Add an item</a>
        <a href="/add-category">Add a category</a>
    </body>
</html>