<html>
    <head>
        <title>Main page</title>
        <link rel="stylesheet" href="/styles/index.css">
    </head>
    <body>
        <%- include("./partials/header") %>
        <%- include("./partials/categories", {manufacturers: manufacturers}) %>
    </body>
</html>