body {
    margin: 0;
    padding: 0;
    background-color: #E87A5D;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 0px;
    background-color: #3B5BA5;
    color: #F3B941;
    border-bottom: 3px solid #3B5BA5;
}

header > div > a {
    text-decoration: none;
    font-size: larger;
    color: #F3B941;
}

header > div {
    display: flex;
    gap: 20px;
}

/* CARS */
.center-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cars-cont {
    display: flex;
    flex-direction: column;
    width: 800px;
}