<html>
    <head>
        <title>All cars</title>
    </head>
    <body>
        <ul>
            <% cars.forEach(car => { %>
                <li>
                    <%= car.make %>
                    <%= car.model %>,
                    <a href="/cars/view-car/<%= car.id %>">view</a>
                    <a href="/cars/edit-car/<%= car.id %>">edit</a>
                </li>
            <% }) %>
        </ul>
        <a href="/">Back to home</a>
    </body>
</html>